/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/vcs.xml
.idea/*
!/.idea/scopes

/.DS_Store
/.svn
/build
/captures
*.iml
.gradle

/0*
/A*
/G*
/M*
/S*
/IM*
/Video*
/buildsrc
/apkfly.sh

/apkfly_deploy/*.pyc

/settings.gradle
/maven.gradle
/module.gradle
/local.properties
/gradle
/gradlew
/gradlew.bat
/merge-result.log

settings.gradle