/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/vcs.xml
.idea/*
!/.idea/scopes

/.DS_Store
/.svn
/build
/captures
*.iml
.gradle

/0*
/A*
/G*
/M*
/buildsrc

/settings.gradle
/maven.gradle
/module.gradle
/local.properties
/gradle
/gradlew
/gradlew.bat

/settings.gradle